<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FastAPI with htmx</title>
  <link rel="stylesheet" href="/static/styles/tutorial.css">
  <script src="{{ url_for('static', path='/htmx/htmx.js') }}" hx-preserve="true"></script>
  {# Core Extensions #}
  <script src="{{ url_for('static', path='/htmx/ext/head-support.js') }}" hx-preserve="true"></script>
  <script src="{{ url_for('static', path='/htmx/ext/preload.js') }}" hx-preserve="true"></script>
  <script src="{{ url_for('static', path='/htmx/ext/response-targets.js') }}" hx-preserve="true"></script>
  {# Community Extensions #}
  <script src="{{ url_for('static', path='/htmx/ext/ajax-header.js') }}" hx-preserve="true"></script>
  <script src="{{ url_for('static', path='/htmx/ext/json-enc.js') }}" hx-preserve="true"></script>
  <script src="{{ url_for('static', path='/htmx/ext/debug.js') }}" hx-preserve="true"></script>
  <script src="{{ url_for('static', path='/htmx/ext/remove-me.js') }}" hx-preserve="true"></script>
  <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}" hx-preserve="true" />
</head>

<body>
  {% block content %}{% endblock %}
</body>

</html>
