{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="htmx-book-app">
  <h1>htmx Book App</h1>
  <div id="app-contents">
    <ul>
      <li><a href="/section3">Section 3</a></li>
      <li><a href="/section4">Section 4</a></li>
      <li><a href="/section5">Section 5</a></li>
      <li><a href="/section6">Section 6</a></li>
      <li><a href="/section7">Section 7</a></li>
      <li><a href="/section8">Section 8</a></li>
      <li><a href="/section9">Section 9</a></li>
      <li><a href="/section10">Section 10</a></li>
      <li><a href="/section11">Section 11</a></li>
      <li><a href="/section12">Section 12</a></li>
      <li><a href="/section13">Section 13</a></li>
      <li><a href="/section14">Section 14</a></li>
      <li><a href="/section15">Section 15</a></li>
      <li><a href="/section16">Section 16</a></li>
    </ul>
  </div>
</div>
{% endblock %}
