{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="section-contents">
  <h1>Section5</h1>

  <h2>トリガーフィルタ hx-trigger</h2>

  <h3>click[true]</h3>
  <p id="target1">foo</p>
  <button hx-get="/yahoo" hx-target="#target1" hx-trigger="click[true]">クリック</button>

  <h3>click[false]</h3>
  <p id="target2">foo</p>
  <button hx-get="/yahoo" hx-target="#target2" hx-trigger="click[false]">クリック</button>

  <h3>click[shiftKey]</h3>
  <p id="target3">foo</p>
  <button hx-get="/yahoo" hx-target="#target3" hx-trigger="click[shiftKey]">クリック</button>

  <h3>click[checkGlobalState()]</h3>
  <p id="target4">foo</p>
  <button hx-get="/yahoo" hx-target="#target4" hx-trigger="click[checkGlobalState()]">クリック</button>
  <script>
    function checkGlobalState() {
      return true;
    }
  </script>

  <h3>click[shiftKey&&altKey]</h3>
  <p id="target5">foo</p>
  <button hx-get="/yahoo" hx-target="#target5" hx-trigger="click[shiftKey&&altKey]">クリック</button>
</div>
{% endblock %}
