{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="section-contents">
  <h1>Section10</h1>

  <h2>innerHTML</h2>
  <div>
    foo
    <p id="inner-target">hoge</p>
  </div>
  <button hx-get="/random" hx-target="#inner-target" hx-trigger="click" hx-swap="innerHTML">
    クリック
  </button>

  <h2>outerHTML</h2>
  <div>
    foo
    <p id="outer-target">hoge</p>
  </div>
  <button hx-get="/random" hx-target="#outer-target" hx-trigger="click" hx-swap="outerHTML">
    クリック
  </button>

  <h2>afterbegin</h2>
  <div>
    foo
    <p id="afterbegin-target">hoge</p>
  </div>
  <button hx-get="/random" hx-target="#afterbegin-target" hx-trigger="click" hx-swap="afterbegin">
    クリック
  </button>

  <h2>beforebegin</h2>
  <div>
    foo
    <p id="beforebegin-target">hoge</p>
  </div>
  <button hx-get="/random" hx-target="#beforebegin-target" hx-trigger="click" hx-swap="beforebegin">
    クリック
  </button>

  <h2>beforeend</h2>
  <div>
    foo
    <p id="beforeend-target">hoge</p>
  </div>
  <button hx-get="/random" hx-target="#beforeend-target" hx-trigger="click" hx-swap="beforeend">
    クリック
  </button>

  <h2>afterend</h2>
  <div>
    foo
    <p id="afterend-target">hoge</p>
  </div>
  <button hx-get="/random" hx-target="#afterend-target" hx-trigger="click" hx-swap="afterend">
    クリック
  </button>

  <h2>delete</h2>
  <div>
    foo
    <p id="delete-target">hoge</p>
  </div>
  <button hx-get="/random" hx-target="#delete-target" hx-trigger="click" hx-swap="delete">
    クリック
  </button>

  <h2>none</h2>
  <div>
    foo
    <p id="none-target">hoge</p>
  </div>
  <button hx-get="/random" hx-target="#none-target" hx-trigger="click" hx-swap="none">
    クリック
  </button>


  <h2>transition</h2>
  <div>
    <p id="transition-target">Embrace challenges, for they are the stepping stones to growth.</p>
    <button hx-get="/ja-saying" hx-swap="innerHTML transition:true" hx-target="closest div">
      日本語で翻訳
    </button>
  </div>
</div>
{% endblock %}
