{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="section-contents">
  <h1>Section11</h1>

  <h2>hx-syncを使っていない例</h2>
  <p id="target1">foo</p>
  <p id="target2">hoge</p>
  <form hx-post="/send-form" hx-target="#target1">
    <input name="title" type="text" hx-post="/validate" hx-trigger="change" hx-target="#target2" />
    <button name="drop-form" type="submit">送信</button>
  </form>

  <h2>drop</h2>
  <p id="drop-target1">foo</p>
  <p id="drop-target2">hoge</p>
  <form hx-post="/send-form" hx-target="#drop-target1" hx-sync="this:drop">
    <input name="title" type="text" hx-post="/validate" hx-trigger="change" hx-target="#drop-target2" />
    <button name="drop-form" type="submit">送信</button>
  </form>

  <h2>abort</h2>
  <p id="abort-target1">foo</p>
  <p id="abort-target2">hoge</p>
  <form hx-post="/send-form" hx-target="#abort-target1">
    <input name="title" type="text" hx-post="/validate" hx-trigger="change" hx-target="#abort-target2"
      hx-sync="closest form:abort" />
    <button name="abort-form" type="submit">送信</button>
  </form>

  <h2>replace</h2>
  <p id="replace-target1">foo</p>
  <p id="replace-target2">hoge</p>
  <form hx-post="/send-form" hx-target="#replace-target1" hx-sync="this:replace">
    <input name="title" type="text" hx-post="/validate" hx-trigger="change" hx-target="#replace-target2" />
    <button name="replace-form" type="submit">送信</button>
  </form>

  <h2>queue</h2>
  <p id="queue-all-target1">all</p>
  <p id="queue-all-target2">foo</p>
  <form hx-post="/now" hx-target="#queue-all-target1" hx-sync="this:queue all" hx-swap="beforeend">
    <input name="title" type="text" hx-post="/validate" hx-trigger="change" hx-target="#queue-all-target2" />
    <button name="queue-all-form" type="submit">送信</button>
  </form>

  <p id="queue-first-target1">first</p>
  <p id="queue-first-target2">foo</p>
  <form hx-post="/now" hx-target="#queue-first-target1" hx-sync="this:queue first" hx-swap="beforeend">
    <input name="title" type="text" hx-post="/validate" hx-trigger="change" hx-target="#queue-first-target2" />
    <button name="queue-first-form" type="submit">送信</button>
  </form>

  <p id="queue-last-target1">last</p>
  <p id="queue-last-target2">foo</p>
  <form hx-post="/now" hx-target="#queue-last-target1" hx-sync="this:queue last" hx-swap="beforeend">
    <input name="title" type="text" hx-post="/validate" hx-trigger="change" hx-target="#queue-last-target2" />
    <button name="queue-last-form" type="submit">送信</button>
  </form>
</div>
{% endblock %}
