{% extends 'base_todo.html' %}

{% block content %}
<div id="app">
  <h1>htmx ToDo App</h1>
  <div id="app-content">
    <form hx-post="/add" hx-target="#task-list" hx-swap="beforeend">
      <input type="text" name="task" placeholder="新しいタスク" required>
      <button type="submit">追加</button>
    </form>
    <ul id="task-list">
      {% for task in tasks %}
      <li>
        <p>{{ task }}</p>
        <button class="delete-btn" hx-target="closest li" hx-delete="/delete" hx-ext='json-enc'
          hx-vals='{"task": "{{ task }}"}' hx-trigger="click" hx-swap="delete"
          hx-confirm='タスク"{{ task }}"を本当に削除してもよろしいですか?'>削除</button>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
