{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Htmx Sample App</h1>
  <nav>
    <ul>
      <li><a href="/section3">Section 3</a></li>
      <li><a href="/section4">Section 4</a></li>
      <li><a href="/section5">Section 5</a></li>
      <li><a href="/section6">Section 6</a></li>
      <li><a href="/section7">Section 7</a></li>
      <li><a href="/section8">Section 8</a></li>
      <li><a href="/section9">Section 9</a></li>
    </ul>
  </nav>
{% endblock %}
