{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Section9</h1>

  <h2>hx-indicator</h2>
  <img id="spinner" class="htmx-indicator" src="/static/spinner.svg"/>
  <div>
      <button hx-get="/heavy" hx-indicator="#spinner">
          クリック
      </button>
  </div>

  <img id="spinner2" class="htmx-indicator" style="position:fixed; top:50%; left:50%; z-index:1000; transform: translate(-50%, -50%);" src="/static/spinner.svg"/>
  <div>
      <button hx-get="/heavy" hx-indicator="#spinner2">
          クリック２
      </button>
  </div>
{% endblock %}
