{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Section16</h1>

<h2>バリデーション</h2>

<p id="target">入力して送信してください。</p>
<form id="validate-form" hx-post="/send-form" hx-target="#target">
  <input name="example" onkeyup="this.setCustomValidity('')" hx-on::validation:validate="if(this.value != 'ペンギン') {
      this.setCustomValidity('ペンギンと入力しください')
      htmx.find('#validate-form').reportValidity()
    }">
  <button class="btn btn-default">送信</button>
</form>


<h2>htmxとカスタムJSの連携</h2>
<button hx-get="/random" hx-target="#target2" hx-swap="innerHTML">
  コンテンツをロード
</button>
<div id="target2"></div>
<script>
  const target2 = document.querySelector("#target2");
  if (target2) {
    htmx.on("htmx:load", function (evt) {
      if (target2.contains(evt.detail.elt)) {
        console.log("htmxロードイベントが発火されました:", evt.detail.elt);
      }
    });
  }
</script>

<h2>aaa</h2>
<div id="target3">foo</div>
<button hx-get="/not-found" hx-target="#target3">aaa</button>
<script>
  htmx.config.responseHandling = [
    { code: "204", swap: false },
    { code: "[45]..", swap: true, error: true },
    { code: "...", swap: false }
  ];
</script>
{% endblock %}
